In [ ]:
#CREAMOS UN DICCIONARIO PARA IDENTIFICAR CON UN Nº ORDINAL LOS PROCESS STEP

orden_pasos = {"start": 0, "step_1": 1, "step_2": 2, "step_3": 3, "confirm": 4}

#CREAMOS UNA NUEVA COLUMNA CON DICHO IDENFICADOR ORDINAL

df_final_web_data["step_num"] = df_final_web_data["process_step"].map(orden_pasos)

df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time,duration,step_num
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,NaT,3
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,0 days 00:00:16,2
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,0 days 00:07:29,3
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,0 days 00:00:09,2
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,0 days 00:01:09,3
...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,0 days 00:01:52,0
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,0 days 00:00:41,0
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,0 days 00:00:38,1
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,0 days 00:00:17,0
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaT,0

In [ ]:
# ORDENAMOS EL DATAFRAME POR VISIT_ID Y POR DATE_TIME

df_final_web_data = df_final_web_data.sort_values(["visit_id", "date_time"])

df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time,duration,step_num
108614,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,0 days 00:00:52,4
108613,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,NaT,4
447951,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29,0 days 00:00:03,0
447950,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32,0 days 00:00:24,1
447949,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56,0 days 00:01:17,2
...,...,...,...,...,...,...,...
539055,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24,0 days 00:01:08,1
539054,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32,NaT,2
539072,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46,0 days 00:02:22,3
539071,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08,0 days 00:01:26,4
539070,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:05:34,NaT,4

In [ ]:
# CALMULAMOS LA DIFERENCIA ENTRE UN STEP Y OTRO PARA IDENTIFICAR CUALES SON UN ERROR

df_final_web_data["delta_step"] = df_final_web_data.groupby("visit_id")["step_num"].diff()

# CREAMOS UNA NUEVA COLUMNA CON FALSE SI NO ES ERROR Y TRUE SI ES ERROR

# Identificamos en la columna nueva "error" aquellos pasos que tengan un paso anterior infenior o igual, con una prueba booleana (< 1 true es errpr y todo lo demas false es error) 

df_final_web_data["error"] = df_final_web_data["delta_step"] < 1

df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time,duration,step_num,delta_step,error
108614,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,0 days 00:00:52,4,NaN,False
108613,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,NaT,4,0.0,True
447951,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29,0 days 00:00:03,0,NaN,False
447950,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32,0 days 00:00:24,1,1.0,False
447949,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56,0 days 00:01:17,2,1.0,False
...,...,...,...,...,...,...,...,...,...
539055,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24,0 days 00:01:08,1,1.0,False
539054,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32,NaT,2,1.0,False
539072,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46,0 days 00:02:22,3,1.0,False
539071,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08,0 days 00:01:26,4,1.0,False
539070,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:05:34,NaT,4,0.0,True

In [ ]:
# IDENTIFICAMOS LAS FILAS QUE FORMAN PARTE DE LA MISMA VISIT_ID Y LAS INDICAMOS COMO VALIDAS

df_final_web_data["es_transicion_valida"] = df_final_web_data["delta_step"].notna()

df_final_web_data

# Lo que queremos es identificar qué filas no son nulas, para desechar los missing value que corresponden a un paso de un visit_id a otro diferente
# Los errores son las filas (visit_id) que tienen True y True en ['error'] y ['es_transicion_valida'] respectivamente

,client_id,visitor_id,visit_id,process_step,date_time,duration,step_num,delta_step,error,es_transicion_valida
108614,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,0 days 00:00:52,4,NaN,False,False
108613,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,NaT,4,0.0,True,True
447951,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29,0 days 00:00:03,0,NaN,False,False
447950,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32,0 days 00:00:24,1,1.0,False,True
447949,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56,0 days 00:01:17,2,1.0,False,True
...,...,...,...,...,...,...,...,...,...,...
539055,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24,0 days 00:01:08,1,1.0,False,True
539054,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32,NaT,2,1.0,False,True
539072,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46,0 days 00:02:22,3,1.0,False,True
539071,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08,0 days 00:01:26,4,1.0,False,True
539070,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:05:34,NaT,4,0.0,True,True

In [ ]:
df_final_experiment_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [ ]:
# HACEMOS UN MERGE CON EL LISTADO DE CLIENTES DEL EXPERIMENTO

df_final_web_data = df_final_web_data.merge(df_final_experiment_clients,  on= 'client_id', how= 'left')

df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time,duration,step_num,delta_step,error,es_transicion_valida,Variation
0,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,0 days 00:00:52,4,NaN,False,False,Test
1,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,NaT,4,0.0,True,True,Test
2,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29,0 days 00:00:03,0,NaN,False,False,NaN
3,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32,0 days 00:00:24,1,1.0,False,True,NaN
4,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56,0 days 00:01:17,2,1.0,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
755400,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24,0 days 00:01:08,1,1.0,False,True,NaN
755401,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32,NaT,2,1.0,False,True,NaN
755402,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46,0 days 00:02:22,3,1.0,False,True,NaN
755403,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08,0 days 00:01:26,4,1.0,False,True,NaN
755404,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:05:34,NaT,4,0.0,True,True,NaN

In [ ]:
# CREAMOS UN DF KPI SOLAMENTE CON LOS QUE FORMAN PARTE DEL EXPERIMENTO

# Es decir, solo nos quedamos con aquellos registros de los que tenemos su identificador como cliente de control o de test. El operador ~ niega el isna

df_kpi = df_final_web_data[df_final_web_data["Variation"].notna()].copy()

df_kpi

,client_id,visitor_id,visit_id,process_step,date_time,duration,step_num,delta_step,error,es_transicion_valida,Variation
0,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,0 days 00:00:52,4,NaN,False,False,Test
1,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,NaT,4,0.0,True,True,Test
7,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,0 days 00:00:16,0,NaN,False,False,Test
8,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,0 days 00:00:09,1,1.0,False,True,Test
9,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,0 days 00:00:14,2,1.0,False,True,Test
...,...,...,...,...,...,...,...,...,...,...,...
755391,6627522,730634087_44272418812,999988789_76411676596_272843,start,2017-04-21 23:49:11,0 days 00:00:11,0,NaN,False,False,Test
755392,6627522,730634087_44272418812,999988789_76411676596_272843,step_1,2017-04-21 23:49:22,0 days 00:00:54,1,1.0,False,True,Test
755393,6627522,730634087_44272418812,999988789_76411676596_272843,step_2,2017-04-21 23:50:16,0 days 00:00:44,2,1.0,False,True,Test
755394,6627522,730634087_44272418812,999988789_76411676596_272843,step_1,2017-04-21 23:51:00,0 days 00:00:09,1,-1.0,True,True,Test
755395,6627522,730634087_44272418812,999988789_76411676596_272843,start,2017-04-21 23:51:09,NaT,0,-1.0,True,True,Test

In [ ]:
grupo = df_kpi.groupby("Variation") #filtro para agrupar el dataframe por grupo contro/test

#Contar errores por grupo
errores = df_kpi.groupby("Variation")["error"].sum()

#Contar transiciones por grupo
transiciones = df_kpi.groupby("Variation")["es_transicion_valida"].sum() #suma las que no son missing value por cambiar de id

#Contar eventos por grupo (cada fila es un evento)
paso_proceso = df_kpi.groupby("Variation")["process_step"].count()

#Contar usuarios únicos por grupo
usuarios_unicos = df_kpi.groupby("Variation")["client_id"].nunique()

#Contar visitas únicas por grupo
visitas_unicas = df_kpi.groupby("Variation")["visit_id"].nunique()

In [ ]:
# GUARDAMOS LOS RESULTADOS EN UN NUEVO DATAFRAME

resumen = pd.DataFrame({
    "errores": errores,
    "transiciones": transiciones,
    "pasos_eventos": paso_proceso,
    "usuarios_unicos": usuarios_unicos,
    "visitas_unicas": visitas_unicas
}).reset_index()

resumen

,Variation,errores,transiciones,pasos_eventos,usuarios_unicos,visitas_unicas
0,Control,26405,111447,143462,23532,32189
1,Test,36606,140862,177847,26968,37136

In [ ]:
# CALCULAMOS LAS TASAS DE ERROR POR VOLUMEN DE TRANSICIONES Y POR VOLUMEN DE EVENTOS 

resumen["tasa_error_transiciones"] = (resumen["errores"] / resumen["transiciones"]).round(2) * 100
resumen["tasa_error_eventos"] = (resumen["errores"] / resumen["pasos_eventos"]).round(2) * 100
resumen

# Realmente la que nos piden es la tasa de error por transiciones

,Variation,errores,transiciones,pasos_eventos,usuarios_unicos,visitas_unicas,tasa_error_transiciones,tasa_error_eventos
0,Control,26405,111447,143462,23532,32189,24.0,18.0
1,Test,36606,140862,177847,26968,37136,26.0,21.0